table {
    border: 2px solid rgb(85, 84, 84);
    background-color: white;
}

section {
    padding: 2px;
}


input {
    width: 100%;
}

.div-principal {
    justify-content: center;
}

.form-filtro {
    display: flex;
    padding: 10px;
}


.button-pesquisar {
    justify-content: right;
}

#pesquisar {
    background-color: #f0b548;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-left: 85%;
}

.table-colum-item td {
    padding: 2px;
    padding: 5px;
}

.section-label-input {
    padding: 2px;
    margin: 15px 15px;
}

.form-filtro input {
    display: block;
    border: 1px solid #222;
    border-radius: 4px;
    background-color: white;
    padding: .5em;
}

.table-lista {
    text-align: center;
}

.table-line-saldo {
    margin-right: .5em;
}

.table-line-titulo {
    font-weight: bold;
    background-color: rgb(240, 235, 233);
}

.section-navegacao {
    text-align: center;
    margin: 25px;
}